@import '../../styles/variables.scss';

.heroSection {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/hero-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



  .description {
    margin: 106px 300px 32px 300px;
    text-align: center;

    h2 {
      font-size: 28px;
      font-weight: 700;
      line-height: 45px;
      color: $light-color;
    }
  }

  .booking {
    height: fit-content;
    margin-bottom: 30px;
    margin-left: 104px;
    margin-right: 104px;

    .type {
      width: fit-content;
      height: 56px;
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
      border-radius: 20px 20px 0 0;

      div {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        cursor: pointer;
        height: 57px;
      }

      .firstActive {
        background-color: $light-color;
        border-radius: 0px 20px 0 0;

        path {
          fill: $yellow-color;
        }

        p {
          color: $yellow-color;
        }
      }

      .secondActive {
        background-color: $light-color;
        border-radius: 20px 0 0 0;

        path {
          fill: $yellow-color;
        }

        p {
          color: $yellow-color;
        }
      }

      p {
        font-weight: 500;
        line-height: 19px;
        color: $light-color;
        margin-right: 8px;
      }
    }

    .info {
      background-color: $light-color;
      padding: 34px 40px;
      border-radius: 20px 0 20px 20px;
      display: flex;
      align-items: end;


      .content {

        .methods {
          display: flex;
          align-items: center;

          div:not(:last-child) {
            margin-left: 20px;
          }

          .radio {
            display: flex;
            align-items: center;

            input[type="radio"] {
              position: absolute;
              opacity: 0;
              width: 18px;
              height: 18px;

              +.radio-label {
                font-size: 18px;
                font-weight: 500;

                &:before {
                  content: '';
                  background: #FFFFFF;
                  border-radius: 100%;
                  border: 1.5px solid #A59C9C;
                  display: inline-block;
                  width: 18px;
                  height: 18px;
                  position: relative;
                  top: 2px;
                  vertical-align: top;
                  cursor: pointer;
                  text-align: center;
                  transition: all 250ms ease;
                  margin-left: 6px;
                }
              }

              &:checked {
                +.radio-label {
                  &:before {
                    background-color: $yellow-color;
                    box-shadow: inset 0 0 0 4px #FFFFFF;
                  }
                }
              }

              &:focus {
                +.radio-label {
                  &:before {
                    outline: none;
                    border-color: $yellow-color;
                  }
                }
              }
            }
          }
        }

        .details {
          margin-top: 24px;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          .box {
            position: relative;
            width: fit-content;

            .title {
              font-weight: 500;

              span {
                font-size: 24px;
                line-height: 28px;
                font-weight: 700;
                color: #C9B979;
              }
            }

            &::after {
              position: absolute;
              content: '';
              width: 1px;
              height: 27px;
              background-color: #E6E6E6;
              left: -6px;
              top: 20px;
            }

            // start input search
            .input-dropdown {
              position: relative;
              max-width: 169px;
              display: flex;
              align-items: center;

              &::after {
                position: absolute;
                content: "";
                height: 2px;
                width: 100%;
                bottom: -2px;
                right: 0;
                background-color: #D9D9D9;
              }
              
              .select-input {
                max-width: 159px; 
                background-color: transparent; 
                border: none; 
                height: 24px;
                font-size: 8px !important;
                font-weight: 400 !important;
                outline: 0 !important;
                box-shadow: 0 0 0 !important;
                color: #9094A0 !important;
                padding: 0 3px 0 10px !important;
                
              }
            } // end input search

            .number-field {
              position: relative;
              width: 169px;
              display: flex;
              align-items: center;

              &::after {
                position: absolute;
                content: "";
                height: 2px;
                width: 100%;
                bottom: -3px;
                right: 0;
                background-color: #D9D9D9;
              }
            
              .number-input {
                margin-top: 4px;
                border: none;
                font-size: 10px !important;
                border-radius: 0;
                background-color: transparent;
                width: 169px;
                padding: 0px 0 6px 0 !important;

                :where(.css-dev-only-do-not-override-zl9ks2).ant-input-number .ant-input-number-input:placeholder-shown {
                  font-size: 9px;
                }

                :where(.css-dev-only-do-not-override-zl9ks2).ant-input-number .ant-input-number-input {
                  padding: 0px;
                }
              }
            }

            // date range
            .rs-input-group {
              border-radius: 0px;
              border: none;
              background-color: transparent;
              direction: ltr;
              border-bottom: 2px solid #D9D9D9;
              color: #9094A0;
              font-size: 9px;

              &:focus {
                outline: none;
                border: none;
              }
            }

            .rs-picker-daterange>.rs-input-group.rs-input-group-inside .rs-input {
              border-radius: 0px;
              height: 34px;
              padding-left: 0px;
              text-align: right;
              width: 169px;
              font-size: 9px;
              background-color: transparent;
              color: #9094A0;

              &:focus {
                outline: none;
                border: none;
              }
            }

            .rs-input-group.rs-input-group-inside .rs-input-group-addon {
              padding: 0;

              &:focus {
                outline: none;
                border: none;
              }
            } //end date range

            .oneRoundDate {
              position: relative;
              width: fit-content;
              border-bottom: 2px solid #D9D9D9;
              display: flex;
              align-items: center;
              margin-top: 7px;

              #date-input {
                border: none;
                outline: none;
                margin-right: 5px;
                font-size: 9px;
                width: 159px;
              }

              &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: #D9D9D9;
              }
            }

            // start time one round
            .time-field {
              position: relative;
              display: flex; 
              background-color: transparent;
              margin-top: 5px;

              &::after {
                position: absolute;
                content: "";
                height: 2px;
                width: 169px;
                bottom: -8px;
                right: 0;
                background-color: #D9D9D9;
              }
              .time-input {
                width: 169px;
                background-color: transparent; 
                height: 24px;
                padding-right: 5px;
              }
              :where(.css-dev-only-do-not-override-zl9ks2).ant-picker .ant-picker-input >input:placeholder-shown {
                font-size: 9px;
                color: #9094A0;
                line-height: 18px;
                font-weight: 400;
              }
            }//end time one round
          }
        }

        .categories {

          .title {
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 8px;
            margin-top: 8px;

            span {
              font-size: 24px;
              font-weight: 500;
              color: #C9B979;
            }
          }

          .category {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
            grid-gap: 5px;
          }
        }
      }

      .link {
        width: 160px;
        text-align: center;
        margin-right: 36px;

        .bttn {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}