@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.book-package {
  // overflow: hidden;

  .container {
    max-width: 754px;
    margin: 56px auto;

    @include lg {
      padding-top: 30px;
    }

    @include sm {
      width: 95%;
    }

    .info_div {
      width: 100%;
      padding: 45px 25px;
      border-radius: 20px;
      background: #ffffff;
      box-shadow: 0px 5px 13px #666666;

      @include sm {
        padding: 45px 10px;
      }

      &:nth-child(2) {
        box-shadow: 0 0 0;
      }

      h3 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        margin-bottom: 32px;
        color: #1A202C;
      }

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    .customer_info {

      .inputs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;

        @include sm {
          display: flex;
          flex-direction: column;
        }

        .input {

          @include sm {
            width: 270px !important;
          }

          .time-input {
            background-color: #F4F6F9;
            height: 52px !important;
            padding: 0px 20px 0 0 !important;
            font-size: 13px !important;

            @include sm {
              width: 270px !important;
            }
          }

          @include sm {
            flex-basis: 270px !important;
            width: 270px;
          }

          input {
            padding-left: 0;

            &::placeholder {
              color: #9094A0;
            }

            @include sm {
              width: 270px;
            }
          }
        }

        // number input
        .react-tel-input .form-control {
          margin-right: 75px;
          height: 52px;
          width: 260px;
          padding: 0;
          text-align: right;
          border: none;
          border-radius: 8px;
          padding-right: 16px;
          background-color: #F4F6F9;

          @include sm {
            width: 196px !important;
          }
        }

        .react-tel-input .flag-dropdown {
          border: none;
          border-radius: 8px;
          background-color: #F4F6F9;
        }

        .react-tel-input .selected-flag {
          width: 60px;
          border: none;
          border-radius: 8px;
          background-color: #F4F6F9;
        }

        .react-tel-input .selected-flag .flag {
          right: 10px;
        }

        .react-tel-input .selected-flag .arrow {
          left: -30px;
        }

        // end number input

        .persons-input {
          @include sm {
            width: 270px !important;
          }
        }
      }
    }

    #date-input {
      width: 333px !important;

      @include sm {
        width: 270px !important;
      }
    }


    .payment_options {
      box-shadow: 0 0 0;

      .options {
        width: 100%;
        gap: 14px;
        display: flex;
        align-items: center;

        .option {
          position: relative;
          width: 241px;
          height: 105px;
          padding: 16px;
          border-radius: 12px;
          box-shadow: 0px 5px 13px #666666;
          text-align: center;
          cursor: pointer;

          @include md {
            padding: 6px !important;
          }

          @include sm {
            width: 116px !important;
          }

          h4 {
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;
            color: #1A202C;
            padding-bottom: 15px;
            border-bottom: 1.5px solid #DDDFE1;

            @include md {
              font-size: 14px !important;
            }

            @include sm {
              font-size: 10px !important;
              line-height: 15px !important;
              height: 40px !important;
            }
          }

          p {
            padding-top: 16px;
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            color: $yellow-color;

            @include md {
              font-size: 12px !important;
            }

            @include sm {
              font-size: 8px !important;
              line-height: 12px !important;
            }
          }
        }
      }
    }

    .payment_info {

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          font-size: 18px;
          line-height: 27px;
          font-weight: 700;
          color: $yellow-color;

          @include sm {
            font-size: 14px !important;
            line-height: 21px !important;
          }
        }

        p {
          font-size: 24px;
          line-height: 36px;
          font-weight: 700;
          color: $yellow-color;

          @include sm {
            font-size: 18px !important;
            line-height: 27px !important;
          }
        }

        &:not(:last-child) {
          margin-bottom: 8px;

          h4 {
            font-size: 18px;
            line-height: 27px;
            font-weight: 500;
            color: #1A202C;

            @include sm {
              font-size: 16px !important;
              line-height: 24px !important;
            }
          }

          p {
            font-size: 24px;
            line-height: 36px;
            font-weight: 500;
            color: #9094A0;
          }
        }
      }
    }

    .card_info {
      position: relative;

      .title {
        display: flex;
        justify-content: space-between;

        .cards {
          img {
            &:not(:last-child) {
              margin-left: 12px;
            }
          }
        }
      }

      .inputs {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 22px;

        .input {

          input {
            padding-left: 0;
          }

          @include sm {
            width: 270px !important;
          }
        }

        #date-input {
          width: 338px !important;

          @include sm {
            width: 270px !important;
          }
        }
      }

      .pay_btn {
        width: 153px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        cursor: pointer;
      }
    }

    .book-btn {
      width: 153px;
      padding: 13px 0;
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
    }
  }
}