@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.booking {
  padding-bottom: 124px;
  box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.4);

  @include lg {
    box-shadow: 0 0 0 0;
  }

  .container {
    width: 85.5%;
    margin: auto;

    @include xl {
      width: 100%;
    }

    .features-container {
      overflow: hidden;
      width: 100%;

      .features {
        display: flex;
        margin-bottom: 40px;
        animation: tickerh linear 33s infinite;

        @include smd {
          animation: tickerh linear 20s infinite;
        }

        &:hover {
          /* Pause animation on hover */
          animation-play-state: paused;
        }

        @include lg {
          margin-top: 100px;
        }

        .feature {
          display: flex;
          align-items: center;
          width: 70%;
          flex-shrink: 0;

          img {
            width: 43px;
            height: 53px;
          }

          .description {
            margin-right: 10px;

            h3 {
              font-size: 16px;
              line-height: 18px;
              font-weight: 400;
            }

            p {
              font-size: 13px;
              line-height: 18px;
              font-weight: 400;
              color: #787878;
            }
          }
        }
      }

      @keyframes tickerh {
        0% {
          transform: translateX(-100%);
        }

        100% {
          transform: translateX(270%);
        }
      }
    }

    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 30px;

      @include xl {
        flex-direction: column-reverse;
        align-items: center;
      }

      .information {
        width: 754px;
        border-radius: 20px;

        @include xl {
          width: 95%;
        }

        .info_div {
          width: 100%;
          padding: 45px 25px;
          border-radius: 20px;
          background: #ffffff;
          box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.2);

          @include sm {
            padding: 45px 15px;
            box-shadow: 0 0 0;
          }

          h3 {
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            margin-bottom: 32px;
            color: #1A202C;
          }

          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }

        .booking_info {

          .radio_buttons {
            display: flex;
            align-items: center;
            margin-bottom: 32px;

            div:not(:last-child) {
              margin-left: 20px;
            }

            .radio {
              display: flex;
              align-items: center;

              input[type="radio"] {
                position: absolute;
                opacity: 0;
                width: 18px;
                height: 18px;

                +.radio-label {
                  font-size: 18px;
                  font-weight: 500;

                  &:before {
                    content: '';
                    background: #FFFFFF;
                    border-radius: 100%;
                    border: 1.5px solid #A59C9C;
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    position: relative;
                    top: 2px;
                    vertical-align: top;
                    cursor: pointer;
                    text-align: center;
                    transition: all 250ms ease;
                    margin-left: 6px;
                  }
                }

                &:checked {
                  +.radio-label {
                    &:before {
                      background-color: $yellow-color;
                      box-shadow: inset 0 0 0 4px #FFFFFF;
                    }
                  }
                }

                &:focus {
                  +.radio-label {
                    &:before {
                      outline: none;
                      border-color: $yellow-color;
                    }
                  }
                }
              }
            }
          }

          .booking_inputs {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 15px;

            .box {

              @include smd {
                min-width: 100%;
              }

            .css-nykehw-DropdownHandleComponent {
              display: none;
            }

            .react-dropdown-select-dropdown-handle {
              display: none;
            }

              // @include sm {
              //   max-width: 240px !important;
              // }

              .title {
                font-weight: 500;
                margin-bottom: 5px;
                margin-right: 10px;

                @include smd {
                  display: none;
                }

                span {
                  font-size: 24px;
                  line-height: 28px;
                  font-weight: 700;
                  color: #C9B979;
                }
              }

              // start input search place
              .input-dropdown {
                max-width: 333px;
                height: 52px;
                display: flex;
                align-items: center;
                background-color: #F4F6F9;
                border-radius: 10px;
                padding-right: 5px;

                @include smd {
                  min-width: 100% !important;
                }

                // @include sm {
                //   width: 270px;
                // }

                .select-input {
                  width: 100%;
                  background-color: transparent;
                  border: none;
                  height: 52px;
                  font-size: 13px !important;
                  font-weight: 400 !important;
                  line-height: 16px !important;
                  outline: 0 !important;
                  box-shadow: 0 0 0 !important;
                  color: #9094A0 !important;

                  @include smd {
                    min-width: 100% !important;
                  }

                  input {
                    width: 240px !important;

                    font-size: 13px;

                    @include smd {
                      min-width: 76vw !important;
                    }

                  }

                  span {
                    margin-top: 12px;
                  }
                }

                .select-number {
                  width: 293px;
                }
              }

              // end input place

              // number input
              .number-input {
                border-radius: 10px;

                :where(.css-dev-only-do-not-override-zl9ks2).ant-input-number .ant-input-number-input:placeholder-shown {
                  font-size: 11px !important;
                }

                :where(.css-dev-only-do-not-override-zl9ks2).ant-input-number .ant-input-number-input {
                  padding: 3px;
                }

                .ant-input-number-group .ant-input-number-group-addon {
                  padding-left: 0 !important;
                  padding-right: 5px !important;
                }
              }

              //end number input 

              // start time range
              #react-time-range {
                background-color: #F4F6F9;
                padding: 15px 5px;
                height: 52px;
                border-radius: 10px;
                width: 330px;

                @include smd {
                  width: 100%;
                }
              }

              // end time range

              // start time one round
              .time-box {
                width: 333px !important;

                @include smd {
                  width: 100% !important;
                }

                .time-field {
                  display: flex;
                  background-color: #F4F6F9;
                  padding-right: 5px;
                  border-radius: 10px;

                  .time-input {
                    width: 325px;
                    background-color: #F4F6F9;
                    height: 52px;
                    padding-right: 5px;

                    @include smd {
                      width: 100% !important;
                    }

                    span {
                      display: none;
                    }
                  }

                  .time-input input {
                    font-size: 13px;
                    color: #9094A0;
                    padding: 0;
                  }
                }
              }

              //end time one round

              // start date range
              .rs-input-group {
                border-radius: 10px;
                border: none;
                background-color: #F4F6F9;
                direction: ltr;
                outline: none !important;

                input {
                  padding: 0;
                }

                span {
                  svg {
                    width: 12px;
                  }
                }
              }

              .rs-picker-daterange>.rs-input-group.rs-input-group-inside .rs-input {
                border-radius: 10px;
                border: none;
                background-color: #F4F6F9;
                height: 54px;
                padding-left: 0px;
                text-align: right;
                width: 290px;

                @include smd {
                  width: 100vw !important;
                }
              }

              //end date range

              // start one date round
              .oneRoundDate {
                position: relative;
                width: fit-content;
                border: none;
                display: flex;
                align-items: center;
                background-color: #F4F6F9;
                width: 333px;
                border-radius: 10px;
                padding-right: 5px;

                @include smd {
                  width: 100% !important;
                }

                #date-input {
                  border: none;
                  outline: none;
                  margin-right: 5px;
                  font-size: 13px;
                  width: 206px;
                  background-color: #F4F6F9;
                  border-radius: 10px;
                  height: 52px;

                  @include smd {
                    width: 75vw !important;
                  }
                }
              }

              // end one round date
            }
          }

          .categories {
            padding-left: 0px;

            .title {
              font-size: 15px;
              font-weight: 400;
              margin-bottom: 8px;
              margin-top: 8px;

              span {
                font-size: 24px;
                font-weight: 500;
                color: #C9B979;
              }
            }

            .category {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
              grid-gap: 15px;

              @include smd {
                grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
              }
            }
          }
        }

        .addition_info {

          .attach_files {

            p {
              font-size: 16px;
              line-height: 16px;
              font-weight: 500;
              color: #9094A0;
              margin-bottom: 16px;

              span {
                font-size: 36px;
                line-height: 43px;
                font-weight: 700;
                color: #C9B979;
              }
            }

            .content {
              display: grid;
              grid-template-columns: auto auto;
              align-items: center;
              justify-content: space-between;

              @include md {
                display: flex;
                flex-direction: column;
              }

              .upload_file {
                width: 240px;
                height: 269px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #FAFCFE;
                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23E0E5F2FF' stroke-width='3' stroke-dasharray='14' stroke-dashoffset='9' stroke-linecap='round'/%3e%3c/svg%3e");
                border-radius: 13px;
                cursor: pointer;

                h2 {
                  font-size: 20px;
                  line-height: 32px;
                  font-weight: 700;
                  margin-bottom: 12px;
                  color: $yellow-color;
                }

                p {
                  font-size: 12px;
                  line-height: 20px;
                  font-weight: 500;
                  color: #8F9BBA;
                }
              }

              .addition_options {
                width: 420px;

                @include md {
                  width: 100%;
                }

                h2 {
                  font-size: 15px;
                  line-height: 18px;
                  font-weight: 700;
                  color: #010101;
                  margin-bottom: 18px;

                  span {
                    font-size: 24px;
                    list-style: 28px;
                    font-weight: 700;
                    color: #C9B979;
                    margin-right: 5px;
                  }
                }

                .checkbox_inputs {

                  .checkbox {
                    display: flex;
                    align-items: center;
                    height: 45px;

                    /* The container */
                    .container {
                      display: block;
                      position: relative;
                      margin-bottom: 15px;
                      margin-right: 0;
                      cursor: pointer;
                      -webkit-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none;
                      font-size: 12px;
                      line-height: 21px;
                      font-weight: 500;
                      color: #212529;

                      @include sm {
                        font-weight: 400;
                        font-size: 9px;
                      }

                      .text {
                        color: #9094A0;
                      }
                    }

                    /* Hide the browser's default checkbox */
                    .container input {
                      position: absolute;
                      opacity: 0;
                      cursor: pointer;
                      height: 0;
                      width: 0;
                    }

                    /* Create a custom checkbox */
                    .checkmark {
                      position: absolute;
                      top: 4px;
                      left: 50px;
                      height: 25px;
                      width: 25px;
                      border: 1.7px solid #8D9094;
                      border-radius: 3px;
                      background-color: #fff;
                    }

                    /* On mouse-over, add a grey background color */
                    .container:hover input~.checkmark {
                      background-color: #ccc;
                    }

                    /* When the checkbox is checked, add a blue background */
                    .container input:checked~.checkmark {
                      background-color: $yellow-color;
                    }

                    /* Create the checkmark/indicator (hidden when not checked) */
                    .checkmark:after {
                      content: "";
                      position: absolute;
                      display: none;
                    }

                    /* Show the checkmark when checked */
                    .container input:checked~.checkmark:after {
                      display: block;
                    }

                    /* Style the checkmark/indicator */
                    .container .checkmark:after {
                      left: 9px;
                      top: 5px;
                      width: 5px;
                      height: 10px;
                      border: solid white;
                      border-width: 0 3px 3px 0;
                      -webkit-transform: rotate(45deg);
                      -ms-transform: rotate(45deg);
                      transform: rotate(45deg);
                    }
                  }
                }
              }
            }
          }

          .notes {
            margin-top: 40px;

            h3 {
              font-size: 15px;
              line-height: 18px;
              font-weight: 700;
              margin-bottom: 8px;
              color: #010101;
            }

            textarea {
              width: 100%;
              height: 151px;
              padding: 18.5px 20px 16.5px 157px;
              background-color: #F4F6F9;
              border-radius: 10px;
              border: none;

              &:focus {
                outline: none;
              }
            }
          }
        }

        .customer_info {

          .inputs {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(338px, 1fr));
            gap: 22px;

            input {
              padding-left: 0;
              @include sm {
                width: 270px;
              }
            }

            // number input
            .react-tel-input .form-control {
              margin-right: 75px;
              height: 52px;
              width: 260px;
              padding: 0;
              text-align: right;
              border: none;
              border-radius: 8px;
              padding-right: 16px;
              background-color: #F4F6F9;

              @include sm {
                width: 196px;
              }
            }

            .react-tel-input .flag-dropdown {
              border: none;
              border-radius: 8px;
              background-color: #F4F6F9;
            }

            .react-tel-input .selected-flag {
              width: 60px;
              border: none;
              border-radius: 8px;
              background-color: #F4F6F9;
            }

            .react-tel-input .selected-flag .flag {
              right: 10px;
            }

            .react-tel-input .selected-flag .arrow {
              left: -30px;
            }

            // end number input
          }
        }

        .btn {
          width: 153px;
          height: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 32px;
          cursor: pointer;

          @include sm {
            width: 272px;
          }
        }
      }

      .payment_options {
        box-shadow: 0 0 0 !important;
        padding: 0 !important;

        .options {
          width: 100%;
          gap: 14px;
          display: flex;
          align-items: center;
          justify-content: center;

          .option {
            position: relative;
            width: 241px;
            height: 105px;
            padding: 16px;
            border-radius: 12px;
            box-shadow: 0px 0px 8px rgba($color: #000000, $alpha: 0.2);
            text-align: center;
            cursor: pointer;

            @include md {
              padding: 6px;
            }

            @include sm {
              width: 116px;
            }

            h4 {
              font-size: 16px;
              line-height: 24px;
              font-weight: 500;
              color: #1A202C;
              padding-bottom: 15px;
              border-bottom: 1.5px solid #DDDFE1;

              @include md {
                font-size: 14px;
              }


              @include sm {
                font-size: 10px;
                line-height: 15px;
                height: 40px;
              }
            }

            p {
              padding-top: 16px;
              font-size: 14px;
              line-height: 21px;
              font-weight: 400;
              color: $yellow-color;

              @include md {
                font-size: 12px;
              }

              @include sm {
                font-size: 8px;
                line-height: 12px;

              }
            }

            .question_mark {
              position: absolute;
              bottom: -5px;
              left: -5px;
            }
          }
        }
      }

      .payment_info {

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h4 {
            font-size: 18px;
            line-height: 27px;
            font-weight: 700;
            color: $yellow-color;

            @include sm {
              font-size: 14px;
              line-height: 21px;
            }
          }

          p {
            font-size: 24px;
            line-height: 36px;
            font-weight: 700;
            color: $yellow-color;

            @include sm {
              font-size: 18px;
              line-height: 27px;
            }
          }

          &:not(:last-child) {
            margin-bottom: 8px;

            h4 {
              font-size: 18px;
              line-height: 27px;
              font-weight: 500;
              color: #1A202C;

              @include sm {
                font-size: 16px;
                line-height: 24px;
              }
            }

            p {
              font-size: 24px;
              line-height: 36px;
              font-weight: 500;
              color: #9094A0;
            }
          }
        }
      }

      .card_info {

        .title {
          display: flex;
          justify-content: space-between;

          .cards {
            img {
              &:not(:last-child) {
                margin-left: 12px;
              }
            }
          }
        }

        .inputs {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(338px, 1fr));
          gap: 22px;

          input {
            padding-left: 0;

            @include sm {
              width: 270px;
            }
          }

          #date-input {
            width: 338px;

            @include sm {
              width: 270px;
            }
          }
        }
      }
    }

    .booking_map {
      width: 548px;
      height: 436px;
      border-radius: 20px;
      border: 2px solid #E2CE7F;
      overflow: hidden;

      @include xl {
        width: 95%;
      }
    }
  }

  .input {
    display: flex;
    flex-direction: column;
    width: 338px;


    @include sm {
      width: 270px;
    }

    label {
      font-size: 15px;
      line-height: 18px;
      font-weight: 700;
      margin-bottom: 8px;
      color: #010101;

      span {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: #C9B979;
      }
    }

    input {
      padding: 18.5px 20px 16.5px 157px;
      border-radius: 10px;
      border: none;
      background-color: #F4F6F9;
      text-align: right;
      font-size: 14px;
      line-height: 16.8px;
      font-weight: 500;

      &:focus {
        outline: none;

        &::placeholder {
          color: transparent;
        }
      }
    }
  }
}

.spinner-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}