@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tajawal', sans-serif;
}

.link{
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 8px;
  border-radius: 9px;
  display: inline-block;
  color: $light-color;
  background-color: $yellow-color;
}

.carousel_section {
    background-color: #FCFAF5;
    height: fit-content;
    padding-top: 64px;
    padding-bottom: 64px;

    .carousel {
      overflow: hidden;
      margin: 50px auto;

      .inner-carousel {
        display: flex;
        width: fit-content;
        margin: 0 auto;
      }

      .item {

        img {
          width: 352px;
          height: 202px;
          pointer-events: none;
        }

        p {
          font-size: 22px;
          font-weight: 700;
          line-height: 26.4px;
          text-align: center;
        }
      }
    }

    .icons {
      text-align: center;

      .icon {
        border-radius: 100%;
        background-color: $light-color;
        cursor: pointer;
        padding: 10px;

        &:hover {
          background-color: $yellow-color;
          color: $light-color;
        }
      }

      .next {
        margin-left: 32px;
      }
    }
  }

  

.group {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;

  .icon1 {
    position: absolute;
    right: 3px;
  }

  .icon2 {
    position: absolute;
    left: 1px;
  }

  input {  
    font-size: 11px;
    font-weight: 500;
    padding: 10px 15px 10px 5px;
    display: block;
    width: 169px;
    border: none;
    border-bottom: 2px solid #D9D9D9;

    &::-webkit-calendar-picker-indicator {
  display:none !important;
}

    &:focus {
      outline: none;

      /* active state */
      ~ {
        label {
          display: none;
        }
      }
    }

    &:valid {
      ~ {
        label {
          display: none;
        }
      }
    }
  }

  .show-bkg {
    background-color: #F4F6F9;
    border-radius: 10px;
    height: 54px;
    width: 330px;
  }

  .show-label {
    top: 20px;
  }

  /* LABEL */
  label {
    color: #999;
    font-size: 9px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    right: 18px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
}

/* start partner hero */
.partner_hero {
  width: 100%;
  min-height: 640px;
  background-image: url('/partner-hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  .hero_content {
    display: flex;
    justify-content: space-between;
    color: $light-color;
    width: 85.5%;
    margin: auto;

    .right_div {
      max-width: 358px;

      h1 {
        font-size: 36px;
        line-height: 43px;
        font-weight: 700;
      }

      p {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 24px;
      }

      .btn {
        width: 182px;
        height: 60px;
        border-radius: 9;
        padding: 8px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $light-color;
      }
    }

    .left_div {
      max-width: 363px;

      div {
        &:not(:last-child) {
          margin-bottom: 32px;
        }
        h2 {
          font-size: 24px;
          line-height: 28px;
          font-weight: 700;
        }

        p {
          font-size: 16px;
          line-height: 19px;
          font-weight: 500;
        }
      }
    }
  }
}
/* end partner hero */