@import '../../styles/variables.scss';

.home {

  .features {
    margin: 80px 104px ;

    .title {
      font-size: 36px;
      font-weight: 700;
      line-height: 46px;
      margin-bottom: 48px;
      text-align: center;
      color: $yellow-color;
    }

    .items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
      gap: 38px;

      .item {
        place-self: center;
      }
    }
  }

  .typeOfCars {
    .item {
      width: 352px;
      height: 260px;
      margin-left: 50px;
    }
  }

  .reviews {
    background-color: $light-color;

    .item {
      position: relative;
      width: 343px;
      padding: 24px;
      margin-left: 32px;
      border-radius: 12px;
      background: #ffffff;
      box-shadow:  2px 2px 12px #bdbdbd,-2px -2px 12px #ffffff;

      .quotes {
        width: 56px;
        height: 56px;
        position: absolute;
        top: -28px;
        left: 52px;
      }

      .avatar {
        display: flex;
        align-items: center;
        margin-bottom: 13px;

        img {
          width: 48px;
          height: 48px;
          margin-left: 6px;
        }

        h2 {
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          color: $main-color;
        }
      }

      .comment{
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        color: #747579;
        text-align: right;
        margin-bottom: 13px;
      }
    }
  }

  .accordions_section {
    position: relative;
    padding-top: 149px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: $light-color;

    .triangle {
      position: absolute;
      height: 1820px;
      width: 507px;
      top: -450px;
      left: 400px;
      z-index: 0;
      transform: rotateZ(-50deg);
      background: rgb(245,242,253);
      background: linear-gradient(90deg, rgba(245,242,253,1) 0%, rgba(245,242,253,1) 10%, rgba(241,231,205,1) 100%);
    }

    .info {
      text-align: center;
      display: inline-block;
      margin-bottom: 70px;
      z-index: 10;

      h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        color: $yellow-color;
        text-align: center;
      }

      h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;
        margin: 12px 0;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}