@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';
.filter_container {

      .title {
        font-size: 36px;
        font-weight: 700;
        line-height: 46px;
        color: $yellow-color;
        text-align: center;

        @include sm {
          font-size: 29px;
        }
      }

      p {
        font-size: 18;
        font-weight: 400;
        line-height: 30px;
        color: #8A8A8A;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 30px;
      }

      .filter_btns {
        display: flex;
        justify-content: center;

        .category_btn {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          border-radius: 8px;
          padding: 12px 30px;
          color: #637381;
          cursor: pointer;

          @include lg {
            padding: 2px 5px;
            width: 90px;
            text-align: center;
          }

          @include md {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            padding: 2px 5px;
            width: 70px;
            text-align: center;
          }

          @include smd {
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            padding: 2px 5px;
            width: 60px;
            text-align: center;
          }
        }

        .active_btn {
          color: $light-color;
          background-color: $yellow-color;
        }
      }
    }